*{
    margin: 0;
    padding: 0;
    user-select: none;
}

#depths {
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url(../graphics/depths.svg);
}

.section {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: auto;

}
.section * {
    margin: auto;
}
/* Header section */
#header {
    height: 80px;
    padding-top: 20px;
    font-family: Escape;
    color:rgb(116, 215, 240);
}
#tagLine{
    font-family: HVD;
}
/* Game board section */
#gameBoard{
    height: 657px;
    width: 1231px;
}
.row {
    height: 40px;
    width: 100%;
}
.tileContainer {
    height: 40px;
    width: 40px;
    float: left;
}
.boardTile {
    position: absolute;
    height: 40px;
    width: 40px;
    float: left;
    opacity: 90%;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transition-property: all;
}
.coverTile {
    position: absolute;
    height: 40px;
    width: 40px;
    float: left;
    opacity: 100%; /*DEBUG*/
    transition-property: all;
    transition-duration: 500ms;
}
/* Lower (control) section */
#control {
    width: 720px;
    padding-top: 20px;
    height: 80px;
    padding-top: 15px;
}
#control * {
    float: left;
}
.element {
    box-sizing: border-box;
    height: 50px;
    background: rgb(53, 130, 149);
    font-family: Escape;
    font-size: 40px;
    padding: 5px;
}
.button {
    width: 155px;
}
.button:hover {
    background: rgb(116, 215, 240);
}
.swatch {
    margin-right: 50px;
}
.swatchText {
    padding-right: 10px;
}
.swatchInfo {
    font-family: HVD;
    text-align: center;  
    color: white;
}
#mineSwatch {
    width: 215px
}
#salveSwatch {
    width: 250px;
}
#salves {
    animation-duration: 500ms;
    animation-iteration-count: 1;
}
#serumMonitor {
     font-family: HVD;
     color:rgb(116, 215, 240);
     font-size: 2em;
     margin: 0 auto;
}
#dialog {
    z-index: 9;
    position: relative;
    width: 200px;
    height: 400px;
    background-color: bisque;
}